__pycache__/
.pytest_cache/
.mypy_cache/

.vscode/

# project-local Python and Poetry environments
.venv/
.poetry/

# serverless framework credential file
.env

# pyenv version file
.python-version

# coverage data file
.coverage
coverage.xml
.omx/
